@import '../../../sass/variables';

.top-menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;

    ul {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        max-width: 650px;
        text-align: right;
    }
    li {
        margin: 0 0.2rem;
    }
    p{
        margin: 0;
    }
}
.nav-button {
    background-color: $color-white;
    border: 1px solid $color-primary;
    border-radius: 15px;
    padding: 0.3rem 1rem;
    font-size: 1rem;
    font-family: $font-stack-primary;
    color: $color-primary;
    font-weight: bold;
    white-space: nowrap;

    cursor: pointer;
    transition: all 0.2s ease-in-out;
    &:hover {
        background-color: $color-primary;
        color: $color-white;
    }

    &--active,
    &--active:visited {
        background-color: $color-primary;
        color: $color-white;
    }
   
}
 .nav-button--logout {
        display: none;
        
    }
@media (min-width: 630px) {
    .nav-button--logout {
        display: block;
    }
}
