@mixin flex-center {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
@mixin box-shadow-item {
    border: 1px solid $color-grey-dark-1;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}

@mixin box-shadow-item-hover {
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
        rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}
