$font-stack-primary: 'Nunito', sans-serif;
$font-stack-secondary: 'Roboto', sans-serif;

$font-size-small: 0.8rem;

$font-size-base: 1rem;
$font-size-h1: 2.5rem;
$font-size-h2: 1.5rem;
$font-size-h3: 1.25rem;
$font-size-h4: 1rem;

$font-size-mobile-base: 1rem;
$font-size-mobile-h1: 2rem;
$font-size-mobile-h2: 1.5rem;
$font-size-mobile-h3: 1.25rem;
$font-size-mobile-h4: 1rem;

$color-primary: #464d77;
$color-primary-light-1: #6f77a919;
$color-secondary: #ec7357;
$color-secondary-dark: #CB472A;
$color-tertiary: #fde74c;
$color-black: #040404;
$color-white: #fafafa;


$color-grey-light-1: #e1e1e1;
$color-grey-dark-1: #adadad;

$color-black-light-1: #1a1a1a;
$color-black-light-2: #3a3a3a;

$color-background: #ffffff;
