$font-stack-primary: 'Nunito', sans-serif;
$font-stack-secondary: 'font-family: ' Roboto ', sans-serif';


$font-size-base: 1rem;
$font-size-h1: 2rem;
$font-size-h2: 1.5rem;
$font-size-h3: 1.25rem;
$font-size-h4: 1rem;



$color-primary: #464d77;
$color-secondary: #ec7357;
$color-tertiary: #fde74c;
$color-black: #040404;
$color-white: #fafafa;
