@import '../../../sass/variables';
@import '../../../sass/mixins';

.add-form {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: stretch;
    padding: 1rem 2rem;
    min-height: 500px;
    border: 1px solid $color-grey-dark-1;
    border-radius: 1rem;
    background-color: $color-background;
    margin: 1rem 0;
    &__title {
        font-size: $font-size-h2;

        font-weight: bold;
        margin: 0 0 1.5rem 0;
        color: $color-black;
    }

    label {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: stretch;
        cursor: pointer;

        font-size: 1rem;
        font-family: $font-stack-secondary;
        color: $color-primary;
        font-weight: bold;

        min-height: 70px;
        padding: 1rem;
        margin: 1rem 0;
        width: fit-content;

        border-radius: 15px;
        border: $color-grey-dark-1 solid 1px;
        background-color: $color-white;
    }
    ::-webkit-input-placeholder {
        color: $color-black-light-2;
        background-color: $color-white;
    }

    input {
        width: 100%;
        border: 2px solid $color-grey-dark-1;
        border-radius: 15px;
        padding: 0.5rem 1rem;
        font-size: $font-size-base;
        font-family: $font-stack-primary;
        color: $color-black-light-1;

        &:focus {
            outline: none;
            border: 2px solid $color-black-light-1;
        }
    }
    textarea {
        width: 100%;
        border: 2px solid $color-grey-dark-1;
        border-radius: 15px;
        padding: 0.5rem 1rem;
        font-size: $font-size-base;
        font-family: $font-stack-primary;
        color: $color-black-light-1;
        resize: none;
        min-height: 100px;

        &:focus {
            outline: none;
            border: 2px solid $color-black-light-1;
        }
    }

    select {
        width: 100%;
        border: 2px solid $color-grey-dark-1;
        background-color: $color-white;
        border-radius: 15px;
        padding: 0.5rem 1rem;
        font-size: $font-size-base;
        font-family: $font-stack-primary;
        color: $color-black-light-1;
        &:focus {
            outline: none;
        }
    }

    label,
    input,
    textarea,
    select {
        &:focus {
            border: 2px solid $color-black-light-1;
        }
    }
    &__image {
        width: 100%;
        height: 200px;
        border-radius: 15px;
        object-fit: cover;
        z-index: 2;
        margin: 0.5rem 0;
    }

    &__product-price {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin: 0.5rem 0;

        input {
            width: fit-content;
        }
    }
    &__upload-image-input {
        display: none;
    }
    &__submit-button {
        cursor: pointer;

        font-size: 1rem;
        font-family: $font-stack-secondary;
        color: $color-white;
        font-weight: bold;

        margin: 2rem 0;
        padding: 1rem 2.5rem;
        width: fit-content;

        border-radius: 15px;
        border: $color-grey-dark-1 solid 1px;
        background-color: $color-primary;

        &:hover {
            background-color: $color-secondary;
        }
        &:disabled {
            background-color: $color-grey-dark-1;
        }
    }
}

@media screen and (min-width: 630px) {
    .add-form {
        input {
            width: 70%;
        }
        textarea {
            width: 70%;
        }
        select {
            width: 70%;
        }
        &__image {
            width: 70%;
            height: 400px;
        }
        &__product-price {
            input {
                width: fit-content;
            }
        }
    }
}
